h1{
    text-align: center;
}

img{
    display: block;
    margin: auto;
}

nav{
    text-align: center;
}

a{text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: gray;
    }

figcaption{
    text-align: center;
    font-size: small;
}

body{
    width: 800px;
    text-align: center;
    line-height: 20px;
    
}

div{
    float: left;
    background-color: red;
    width: 25%;
    text-align: center;
}
